.carrusel{
    background-color: rgb(153, 98, 204);

}
body{
    margin: 0;
    padding: 0;
    font-family: lato;
    background: url(galaxia.avif) center/cover no-repeat fixed;

}
h2{
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
}
.letras{
    
    color: rgba(53, 5, 244, 0.993);
}


.slider-frame{
    width: 1280px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;

}
.slider-frame ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 15s infinite alternate ease-in-out;
   

}
.slider-frame li{
    list-style: none;
    width: 100%;
    text-align: center;

}
.slider-frame li img{
    margin-top: auto;
    width: 80%;
    height: auto;/*Mantener la proporcion original*/
}
.slider-frame img{
    width: 100%;
}

@keyframes slide{
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}
    }

